<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="css/reset_password.css">
</head>
<body>
  <div class="form-signin rounded-3 bg-light">
    <h2>Password reset</h2>
    <form id="resetPasswordForm" class="form">
        <input type="email" name="email" placeholder="Enter your email" required autocomplete="off">
        <div class="text-center">
            <button type="button" id="resetPasswordBtn" class="btn btn-primary">Password reset</button>
        </div>
    </form>
  </div>
  <script src="/static/client/js/reset_password.js"></script>
</body>
</html>