<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Photo App - Login/Signup</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <main>
        <h2>Login</h2>
        <form id="login-form">
            <label for="login-email">Email</label>
            <input type="email" id="login-email" placeholder="Email" required>

            <label for="login-password">Password</label>
            <input type="password" id="login-password" placeholder="Password" required>

            <button type="submit">Login</button>
        </form>
    </main>

    <script src="/static/js/script.js"></script>
    <script>
        document.getElementById('login-form').addEventListener('submit', loginUser);
    </script>
</body>
</html>
