<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Photo App - Home</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <header>
    <h1>You PhotoShare application</h1>
    <nav>
        <a href="/auth" id="login-link">Login</a>
        <a href="/signup" id="signup-link">Sign Up</a>

    </nav>
</header>


    <main>
        <h2>Welcome to Photo App</h2>
        <div id="photo-gallery" class="gallery">

        </div>
        <div id="pagination-controls" class="pagination">
            <button id="prev-page" disabled>Previous</button>
            <button id="next-page">Next</button>
        </div>
        <div id="upload-button">
            <a href="/upload" class="btn-primary">Upload Photo</a>
        </div>
        <div>
            <footer class="footer">
                <p>Copyright &copy; 2024(GoIt) "Team-1". All Rights Reserved.</p>
                <p>Follow us on:
                    <a href="https://instagram.com" target="_blank">Instagram</a>|
                    <a href="https://facebook.com" target="_blank">Facebook</a>|
                    <a href="https://twitter.com" target="_blank">Twitter</a>|
                    <a href="https://LinkedIn.com" target="_blank">LinkedIn</a>
                </p>
                <p>
                    <a href="https://www.iubenda.com/privacy-policy/63375980" class="text-white">Privacy Policy</a> |
                    <a href="/terms-of-service" class="text-white">Terms of Service</a>
                </p>
            </footer>
        </div>
    </main>
    <script src="/static/js/script.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', () => loadPhotos(0, 10));
    </script>
</body>
</html>
